## Assignment 3
### Importing Libraries

In [1]:
import numpy as np   
import pandas as pd    
import matplotlib.pyplot as plt

## Part - 1

### Getting the Dataset 
##### We are going to work on the Titanic Data set imported from ../Datasets/nba.csv

In [2]:
df = pd.read_csv("../Datasets/nba.csv")

##### print the data to check if the data imported properly
###### Data dimension -

In [3]:
df.shape

(458, 9)

###### Data Size -

In [4]:
df.size

4122

###### Description of the data frame -

In [5]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

###### Data types of different columns -

In [6]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

###### printing first 5 rows -

In [7]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

### Checking of NULL values

In [8]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

### Checking of duplicate values

In [9]:
df.duplicated().sum()

0

### Data Wrangling
#### Filling the max occuring college as the college of NA

In [10]:
df['College'].fillna(df['College'].mode,inplace=True)

##### Filling the salary of missing with the mean of salary

In [11]:
df['Salary'].fillna(df['Salary'].mean(),inplace = True)

##### Removing the other NA values

In [12]:
df.dropna(inplace=True)

### Clean Data

In [13]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [14]:
df.shape

(457, 9)

### Grouping Data
##### Selecting the height as the paramater for the grouping as it has variation in groups

In [15]:
df['Height'].value_counts()

Height
6-9     59
6-10    47
6-7     45
6-8     43
6-6     42
6-11    40
6-3     33
6-5     32
6-4     29
7-0     27
6-1     16
6-2     16
6-0     10
7-1      7
7-3      4
5-11     3
7-2      3
5-9      1
Name: count, dtype: int64

##### groupby() function groups the data on the given paramter

In [16]:
height_groups = df.groupby(df['Height'])

##### Now the data can be retrived as per the groups

In [17]:
height_groups['Salary'].describe()

,count,mean,std,min,25%,50%,75%,max
Height,,,,,,,,
5-11,3.0,5.891553e+05,7.926627e+05,55722.0,133733.0,211744.0,8.558720e+05,1500000.0
5-9,1.0,6.912869e+06,NaN,6912869.0,6912869.0,6912869.0,6.912869e+06,6912869.0
6-0,10.0,5.784075e+06,6.337144e+06,947276.0,2437500.0,3934473.5,4.846419e+06,21468695.0
6-1,16.0,5.217919e+06,4.286013e+06,700902.0,1646160.0,3402626.5,8.633373e+06,13500000.0
6-10,47.0,5.185375e+06,5.063120e+06,222888.0,1054584.5,3815000.0,7.025766e+06,19689000.0
6-11,40.0,6.544397e+06,6.906416e+06,245177.0,1362370.0,3107656.0,1.143804e+07,22359364.0
6-2,16.0,3.523777e+06,3.631376e+06,525093.0,947276.0,1553220.0,4.882013e+06,13437500.0
6-3,33.0,5.821784e+06,5.668225e+06,189455.0,1662360.0,4053446.0,8.000000e+06,20093064.0
6-4,29.0,4.646163e+06,5.275308e+06,134215.0,1015421.0,2525160.0,5.192520e+06,20000000.0
6-5,32.0,4.391786e+06,4.114296e+06,55722.0,1160040.0,3129420.0,6.015152e+06,16407500.0
6-6,42.0,3.586813e+06,4.518975e+06,167406.0,955794.0,1903380.0,4.317674e+06,25000000.0
6-7,45.0,3.504402e+06,4.337857e+06,30888.0,947276.0,1535880.0,4.000000e+06,16407500.0
6-8,43.0,5.950412e+06,6.133934e+06,83397.0,1259700.0,3425510.0,9.321234e+06,22970500.0
6-9,59.0,4.157787e+06,4.517154e+06,111444.0,1053814.0,2500000.0,5.250000e+06,20158622.0
7-0,27.0,5.287712e+06,4.675298e+06,947276.0,2003580.0,4204200.0,7.574380e+06,19689000.0
7-1,7.0,7.400988e+06,6.587462e+06,1175880.0,3441500.0,4950000.0,9.555017e+06,19688000.0
7-2,3.0,6.835639e+06,7.825718e+06,525093.0,2457350.0,4389607.0,9.990912e+06,15592217.0
7-3,4.0,2.307930e+06,1.484918e+06,1000000.0,1150000.0,2050000.0,3.207930e+06,4131720.0

##### Similar grouping on the Age

In [18]:
age_groups = df.groupby('Age')
age_groups['Salary'].describe()

,count,mean,std,min,25%,50%,75%,max
Age,,,,,,,,
19.0,2.0,1.930440e+06,2.791658e+05,1.733040e+06,1.831740e+06,1930440.0,2.029140e+06,2127840.0
20.0,19.0,2.725791e+06,1.510913e+06,5.250930e+05,1.636920e+06,2481720.0,3.954720e+06,5703600.0
21.0,19.0,2.067380e+06,1.412350e+06,5.250930e+05,1.235480e+06,1584480.0,2.084940e+06,5758680.0
22.0,26.0,2.357963e+06,1.517378e+06,5.250930e+05,1.169190e+06,1793880.0,3.366733e+06,6331404.0
23.0,41.0,2.171719e+06,2.728808e+06,3.088800e+04,6.500000e+05,1201440.0,2.891760e+06,16000000.0
24.0,47.0,3.830295e+06,4.702753e+06,5.250930e+05,9.236380e+05,1535880.0,4.751583e+06,16407501.0
25.0,45.0,3.951130e+06,4.508414e+06,5.572200e+04,9.472760e+05,1358880.0,5.543725e+06,15851950.0
26.0,36.0,6.866566e+06,6.100471e+06,1.342150e+05,1.336790e+06,3325000.0,1.256250e+07,17120106.0
27.0,41.0,6.632008e+06,6.752122e+06,5.572200e+04,1.035000e+06,3425510.0,1.123596e+07,20158622.0
28.0,31.0,5.101559e+06,4.244345e+06,2.061920e+05,1.843421e+06,4389607.0,6.190017e+06,19689000.0
29.0,28.0,6.174838e+06,4.786782e+06,1.114440e+05,2.205000e+06,5271862.5,9.322612e+06,16407500.0
30.0,31.0,6.990272e+06,5.332677e+06,9.472760e+05,3.099470e+06,5675000.0,9.000000e+06,22359364.0
31.0,22.0,8.511397e+06,7.170163e+06,9.472760e+05,3.000000e+06,5439487.0,1.347500e+07,22970500.0
32.0,13.0,7.716958e+06,7.451336e+06,2.953270e+05,3.135000e+06,5200000.0,1.121739e+07,22875000.0
33.0,14.0,3.930739e+06,4.354293e+06,2.006000e+05,1.119326e+06,2300000.0,4.040084e+06,13000000.0
34.0,10.0,7.606030e+06,5.653035e+06,2.618940e+05,4.512750e+06,6280675.5,9.103916e+06,20000000.0
35.0,9.0,3.615178e+06,2.259354e+06,9.472760e+05,1.499187e+06,3750000.0,4.842684e+06,7448760.0
36.0,10.0,2.238120e+06,1.550061e+06,9.472760e+05,9.472760e+05,1809826.0,2.888735e+06,5675000.0
37.0,4.0,1.079400e+07,9.606489e+06,4.842684e+06,4.960671e+06,6666667.0,1.250000e+07,25000000.0
38.0,4.0,1.840041e+06,1.496661e+06,2.228880e+05,7.661790e+05,1880638.0,2.954500e+06,3376000.0
39.0,2.0,2.517872e+06,2.220522e+06,9.477260e+05,1.732799e+06,2517872.5,3.302946e+06,4088019.0
40.0,3.0,4.666917e+06,4.155421e+06,2.507500e+05,2.750375e+06,5250000.0,6.875000e+06,8500000.0

### Custom Grouping in the Bins 
##### Here the cut function is used with parameters as bins , labels and its important to set the right as false else the edge value is counted twice

In [19]:
bins = [19,20,25,30,35,40]
labels = ['19-20','20-25','25-30','30-35','35-40']

df['AgeGroup'] = pd.cut(df['Age'],bins = bins , labels = labels,right= False)
df['AgeGroup'].value_counts()

AgeGroup
25-30    181
20-25    152
30-35     90
35-40     29
19-20      2
Name: count, dtype: int64

##### Now you can even get the median, mean and their descriptions of the salary groups

In [20]:
df.groupby('AgeGroup')['Salary'].median()

AgeGroup
19-20    1930440.0
20-25    1686039.5
25-30    3578947.0
30-35    5209584.5
35-40    2854940.0
Name: Salary, dtype: float64

In [21]:
df.groupby('AgeGroup')['Salary'].mean()

AgeGroup
19-20    1.930440e+06
20-25    2.772642e+06
25-30    5.679300e+06
30-35    7.059559e+06
35-40    3.809991e+06
Name: Salary, dtype: float64

In [22]:
df.groupby('AgeGroup')['Salary'].describe()

,count,mean,std,min,25%,50%,75%,max
AgeGroup,,,,,,,,
19-20,2.0,1.930440e+06,2.791658e+05,1733040.0,1831740.0,1930440.0,2.029140e+06,2127840.0
20-25,152.0,2.772642e+06,3.184283e+06,30888.0,986819.0,1686039.5,3.164898e+06,16407501.0
25-30,181.0,5.679300e+06,5.486956e+06,55722.0,1035000.0,3578947.0,8.988765e+06,20158622.0
30-35,90.0,7.059559e+06,6.112519e+06,200600.0,2312500.0,5209584.5,1.005277e+07,22970500.0
35-40,29.0,3.809991e+06,4.590298e+06,222888.0,947276.0,2854940.0,4.842684e+06,25000000.0

## Part - 2

In [25]:
df = pd.read_csv("../Datasets/Iris.csv")

In [26]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [27]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [28]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [33]:
def basic_statistics(df):
    print("\nIris-setosa")
    print(df[df.Species=='Iris-setosa'].describe().transpose())
    print("\nIris-versicolor")
    print(df[df.Species=='Iris-versicolor'].describe().transpose())
    print("\nIris-virginica")
    print(df[df.Species=='Iris-virginica'].describe().transpose())
basic_statistics(df)

Iris-setosa
               count    mean        std  min     25%   50%     75%   max
Id              50.0  25.500  14.577380  1.0  13.250  25.5  37.750  50.0
SepalLengthCm   50.0   5.006   0.352490  4.3   4.800   5.0   5.200   5.8
SepalWidthCm    50.0   3.418   0.381024  2.3   3.125   3.4   3.675   4.4
PetalLengthCm   50.0   1.464   0.173511  1.0   1.400   1.5   1.575   1.9
PetalWidthCm    50.0   0.244   0.107210  0.1   0.200   0.2   0.300   0.6

Iris-versicolor
               count    mean        std   min     25%    50%    75%    max
Id              50.0  75.500  14.577380  51.0  63.250  75.50  87.75  100.0
SepalLengthCm   50.0   5.936   0.516171   4.9   5.600   5.90   6.30    7.0
SepalWidthCm    50.0   2.770   0.313798   2.0   2.525   2.80   3.00    3.4
PetalLengthCm   50.0   4.260   0.469911   3.0   4.000   4.35   4.60    5.1
PetalWidthCm    50.0   1.326   0.197753   1.0   1.200   1.30   1.50    1.8

Iris-virginica
               count     mean        std    min      25%     50%      75%
Id              50.0  125.500  14.577380  101.0  113.250  125.50  137.750  \
SepalLengthCm   50.0    6.588   0.635880    4.9    6.225    6.50    6.900
SepalWidthCm    50.0    2.974   0.322497    2.2    2.800    3.00    3.175
PetalLengthCm   50.0    5.552   0.551895    4.5    5.100    5.55    5.875
PetalWidthCm    50.0    2.026   0.274650    1.4    1.800    2.00    2.300

                 max
Id             150.0
SepalLengthCm    7.9
SepalWidthCm     3.8
PetalLengthCm    6.9
PetalWidthCm     2.5